@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mordoto';
  src: url('./Assets/Fonts/Mardoto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./Assets/Fonts/Mardoto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: 'Mardoto', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}